body{
    font-family: 'Fredoka One', sans-serif;
}

p{
    font-family: 'Quicksand', sans-serif;
}

h1{
    font-size: 30px;
}

h2{
    font-size: x-large;
}

h3{
    font-size: 25px;
}

footer{
    font-size: 13px;     
}
video{
    width: 100%;
    height: auto;
    padding-bottom: 5%;
    

}
a{
    color: #ffffff;
    
}

a:hover{
    color: #292020;

}

.carousel-control-prev-icon{
    filter: invert(100%);

}
.carousel-control-next-icon{
    filter: invert(100%);
}


.list-inline-item{
    color: #ffffff;
    font-size: 13px;
}

.bg-secondary{
    background-color: #9f3d3b !important;
}


.first-image{
    height: 85vh;
    background-size:cover;
    background-image: url(../images/first_image.jpg);
    background-position: bottom left;
    text-align: left;
}
.second-image{
    height: 85vh;
    background-size: cover;
    background-image: url(../images/second_image.jpg);
    background-position: bottom;
    
}
.third-image{
    height: 85vh;
    background-size: cover;
    background-image: url(../images/third_image.jpg);
    background-position: center left;
    
}
.last-image{
    height: 85vh;
    background-size: cover;
    background-image: url(../images/last_image.jpg);
    background-position: left;
    filter:sepia(10%)

}

.jor{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.bg-primary{
    background: rgb(236,230,230) !important;
}



.navbar{
    background-color: #ffffff !important;
}

.btn:focus{
    box-shadow: none;
}

.btn-default{
    background-color: #ffffff;
    color: #b81513;
}
.btn-default:hover{
    opacity: 1;
    color: #db0b0b;
}

.btn-primary{
    background-color: #b81513;
    border-color: #b81513;
    
}
.btn-light{
    font-size: 13px;
}

.btn-primary:hover{
    background-color: #ffffff;
    border-color: #ffffff;
    color: #b81513;
}

.btn-primary:focus{
    background-color: #b81513;
    border-color: #b81513;
    color: #ffffff;   
}

.b_title{
    color: #b81513;
}

.nav-item{
    margin: 5px;
}

.line_top{
    border-top: 1pt solid #ffffff;
}
.line_top_dot{
    border-top: 1pt solid #ffffff;
    border-top-style: dotted;

}

.list-inline-item:not(:last-child){
    padding: 0 0.5em;
    border-right: 1px solid;
}
.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    filter: invert(100%);
}



@media only screen and (min-width: 960px) {
    .navbar-nav .nav-item{
        padding: 0 0.5em;
    }
    .navbar-nav:not(.me-auto) .nav-item:not(:last-child){
        border-right: 1px solid #9f3d3b;
    }
    .navbar-nav:not(.me-auto) .nav-item:first-child{
        border-left: 1px solid #9f3d3b;
    }
  }


@media only screen and (max-width: 960px) {
    .txt-small{
        font-size: 2vmin;
    }
}

@media only screen and (min-width: 960px) {
    .car_bg{
        height: 45vh;
        
    }
}
